# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/Organizador_2/FileContentIndex/6efa8997-3495-4982-8c50-79b29d9a767e.vsidx
.vs/Organizador_2/FileContentIndex/6efa8997-3495-4982-8c50-79b29d9a767e.vsidx
.vs/Organizador_2/FileContentIndex/f531a214-52d9-4bfe-b83c-605172a9a65c.vsidx
.vs/Organizador_2/FileContentIndex/f531a214-52d9-4bfe-b83c-605172a9a65c.vsidx
*.vsidx
*.vsidx
